#content-area {
    background: #E4E9F7;
}

.students-container {
    padding: 10px 20px 30px;
    max-width: 1200px;
    margin: auto;
}

.students-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px; 
}

@media (min-width: 920px) {
    .students-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.student-card {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.student-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.student-card img {
    width: 140px; 
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px; 
    margin-left: 5px;
    border: 3px solid #4CAF50;
}

.student-info {
    display: flex;
    flex-direction: column;
}

.student-info h3 {
    font-size: 21px;
    margin: 0;
    color: #333;
}

.student-info p {
    margin: 4px 0;
    font-size: 15px;
    color: #555;
}


.filter-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

label[for="major-select"], label[for="order-select"] {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

label[for="order-select"] {
    margin-left: 20px;
}

#major-select, #order-select {
    padding: 6px 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

#major-select:hover, #major-select:focus,
#order-select:hover, #order-select:focus {
    outline: none;
}
